@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GowunDodum-Medium";
  font-weight: normal;
  src: url("./asset/font/GmarketSansTTFMedium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "GowunDodum-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
